*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: blanchedalmond;
}

header .head{
    text-align: center;
    margin-bottom: 15px;
}

img {
    height: 400px;
    display: flex;
    border-radius: 2rem;
}


h1{
    text-align: center;
    margin-top: 15px;
}

section ol {
    display: flex;
    flex-direction: column;
}

ol li {
    list-style-type: square;
    font-size: 1.3rem;
    line-height: 2rem;

}

li a{
    text-decoration: none;
}

li a:hover {
    color: tomato;
}